table.sortable thead tr:first-child {
	@include no-select;
	cursor: pointer;
}

table td.sortable_active::before {
}

table td.sortable_asc::before {
	font-family: "Material Icons";
	content: "\e5c5";
}
table td.sortable_desc::before {
	font-family: "Material Icons";
	content: "\e5c7";
}

table td.sortable_active {
	font-weight: bold;
}
